body {
    background-color: #f8f9fa;
  }
  
  form {
    font-size: 1rem;
  }
  
  input, textarea {
    border-radius: 8px !important;
  }
  
  .btn-primary {
    background-color: #0069d9;
    border-color: #0062cc;
    border-radius: 8px;
  }