<!-- <nav class="custom-navbar" *ngIf="showMainNavbar">
  <a routerLink="/" class="logo">Course Hub</a>
  <div class="nav-links">
    <a routerLink="/studentregister">Student Register</a>
    <a routerLink="/teacherregister">Teacher Register</a>
    <a routerLink="/login">Login</a>
    
  </div>
</nav>

<router-outlet></router-outlet> -->

<nav class="custom-navbar" *ngIf="showMainNavbar">
  <a routerLink="/" class="logo">Course Hub</a>
  <div class="nav-links">
    <a routerLink="/studentregister">Student Register</a>
    <a routerLink="/teacherregister">Teacher Register</a>
    <a routerLink="/login">Login</a>
  </div>
</nav>

<router-outlet></router-outlet>
